/*****************************************    font      ***************************************/
@font-face {
  font-family: AdobeGothicStd;
  src: url("../font/AdobeGothicStd-Bold.otf")
}
@font-face {
  font-family: Exot;
  src: url("../font/Exot350D.ttf")
}@font-face {
  font-family: IRANSansWeb;
  src: url("../font/IRANSans(FaNum).ttf")
}
.AdobeGothicStd{
  font-family: AdobeGothicStd, serif;
}
.Exot{
  font-family: Exot, serif;
}
.IRANSansWeb{
  font-family: IRANSansWeb, serif;
}

/*!*****************************************    height      ***************************************!*/
.h-container{
  height: 100%;
}
/*.h-navbar{*/
/*    height: 3vw;*/

/*}*/
/*.h-slider{*/
/*    height: 45vw;*/
/*}*/
/*****************************************    width      ***************************************/
/*****************************************    back , color      ***************************************/
.bg-container{
  background-image: url("../../src/img/bg-container.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.bg-navbar {
  background-color: #F5F4F4 ;
}
.bg-items{
  background-color: #222222;
}
.bg1-service-text{
  background-color: #282828;
}
.link {
  color: black;
  transition: 0.2s;
}

.link:hover {
  color: black;
  transition: 0.2s;
}
.img1_slider,.img2_slider,.img3_slider {
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
}
.img_slider {
  background-image: url("../img/RnwnIzX.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.img1_slider {
  background-image: url("../img/mydeveloper.svg");
}
.img2_slider {
  background-image: url("../img/freelancing.png");
}
.img3_slider {
  background-image: url("../img/webpurp.png");
}
.c-t-slider{
  color: #f1b0b7;
}.c-t-home{
   color: #7035D1;
 }
/*****************************************    font-size      ***************************************/
.items_nav{
  font-size: calc(0.8vw + 0.8em);
  color: black;
  font-weight: 500;
  transition: 0.2s;
}
.items_nav:hover{
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
  transition: 0.2s;
}
@keyframes rainbow_animation {
  0%,100% {background-position: 0 0;}
  50% {background-position: 100% 0;}
}
.fs-t-slider,.fs-t-home{
  font-size: calc(1vw + 0.7em); ;
}.fs-slider{
   font-size: calc(0.5vw + 0.7em);
   line-height: calc(1.2vw + 0.8em);
 }
.line-h-slider{
  line-height: calc(1.5vw + 1.2em);
}
/*-----------zir text underline-----------*/
.underline {
  color: black;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.underline:after {
  content: "";
  display: block;
  height: calc(0.1vw + 0.1em);
  bottom: -5%;
  left: 50%;
  border-radius:  calc(0.5vw + 0.5em);
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}
/*****************************************    align justify flex      ***************************************/
.react-multi-carousel-dot-list {
  justify-content: end;
}
.react-multi-carousel-dot button {
  color: red;
  border-color: #767676;
  margin-right: calc(0.4vw + 0.3em);
}
.react-multi-carousel-dot--active button {
  background: #0056b3;
}
.react-multi-carousel-dot-list{
  left: 1%;
  bottom: 1%;
}
.h-footer{
  height: 20vw;
}
/*.w-t-item-footer{*/
/*    width: calc(15vw + 15em);*/
/*}*/

/**************************************  media resolution 1000px  **************************************/
/*phone*/
@media only screen and (max-width: 450px) {
  /*.bg-container{*/
  /*    background-color: blanchedalmond	;*/
  /*}*/
  /*****************************************    height      ***************************************/
  /*.h-container{*/
  /*    height: calc(50vw + 50em);*/
  /*}*/
  .h-navbar {
    height: 8vw;
  }
  .h-slider {
    height: calc(28vw + 28em);
  }
  .h-img-slider{
    height:calc(19vw + 18em);
  }
  .h-text_slider {
    height: calc(7vw + 7em);
  }
  .h-item-home {
    height: calc(7vw + 6em);
  }
  .h-service {
    height: calc(11vw + 11em);
  }
  /*****************************************    width      ***************************************/
  .w-nav {
    width: calc(10vw + 12em);
  }
  .w-text_slider {
    width: calc(13vw + 12em);
  }

  .w-l-slider{
    width: 100%;
  }
  .w-r-slider{
    width: 100%;
  }
  .w-item-footer{
    width: calc(4vw + 4em);
  }
  .items_home {
    width: 22%;
    border-radius: calc(0.5vw + 0.4em);
    margin-right: calc(1vw + 1em);
    margin-left: calc(1vw + 1em);
  }
  /*****************************************    bg     ***************************************/
  .img1_slider, .img2_slider, .img3_slider {
    background-size: 70% 70%;
  }
  .error-bg{
    background-image: url("../../src/img/error.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 50%;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
  }
  /*****************************************    font-size      ***************************************/
  .fs-t-slider,.fs-t-home {
    font-size: calc(0.9vw + 0.7em);
  }
  .fs-slider {
    font-size: calc(0.7vw + 0.5em);

  }
  .fs-t-items-home{
    font-size: calc( 1vw + 0.9em);
  }
  .fs-service-text{
    font-size: calc( 0.5vw + 0.6em);
  }
  .fs-footer{
    font-size: calc(0.5vw + 0.5em);
  }
  /*****************************************    align justify      ***************************************/
  .justify-home{
    justify-content: center;
  }

  /*****************************************    padding margin      ***************************************/
  .pr-nav {
    padding-right: calc(0.5vw + 0.5em);
  }
  .p-text-home{
    padding: calc(1vw + 1em);
  }
  /*.text-sm-slider-center {*/
  /*    text-align: center;*/
  /*}*/
  .text-align-slider {
    text-align: center;
  }

  .align-sm-center {
    /*w-100 h-100 d-flex justify-content-center*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 766px) and (min-width: 450px) {
  /*.bg-container{*/
  /*    background-color: purple	;*/
  /*}*/
  /*****************************************    height      ***************************************/
  /*.h-container{*/
  /*    height: calc(50vw + 50em);*/
  /*}*/
  .h-navbar {
    height: 7vw;
  }
  .h-slider{
    height: calc(23vw + 21em);
  }
  .h-text_slider{
    height:  calc(16vw + 17em);
  }
  .h-img-slider{
    height: 100%;
  }
  .h-item-home {
    height: calc(12vw + 11em);
  }
  .h-service {
    height: calc(17vw + 16em);
  }
  /*****************************************    width      ***************************************/
  .w-nav {
    width: calc(10vw + 12em);
  }
  .w-text_slider {
    width: calc(13vw + 7em);
  }
  .w-l-slider{
    width: 60%;
  }
  .w-r-slider{
    width: 40%;
  }
  .w-item-footer{
    width: calc(4vw + 4em);
  }
  /*****************************************    height      ***************************************/
  .items_home {
    width: 26%;
    border-radius: calc(0.5vw + 0.4em);
    margin-right: calc(0.6vw + 0.2em);
    margin-left: calc(0.6vw + 0.2em);
  }



  /*****************************************    bg     ***************************************/
  .img1_slider, .img2_slider, .img3_slider {
    background-size: 100% 63%;
  }
  .error-bg{
    background-image: url("../../src/img/error.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 175% 50%;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
  }
  /*****************************************    font-size      ***************************************/
  .fs-t-slider,.fs-t-home {
    font-size: calc(0.7vw + 0.5em);
  }
  .fs-slider {
    font-size: calc(0.5vw + 0.5em);
  }
  .fs-t-items-home{
    font-size: calc( 1vw + 0.9em);
  }
  .fs-service-text{
    font-size: calc( 0.8vw + 0.7em);
  }
  .fs-footer{
    font-size: calc(0.8vw + 0.8em);
  }
  /*****************************************    align justify      ***************************************/
  .justify-home{
    justify-content: flex-end;
  }
  /*****************************************    padding margin      ***************************************/
  .pr-nav {
    padding-right: calc(0.5vw + 0.5em);
  }

  .text-align-slider{
    text-align: right;
  }
  .p-text-home{
    padding: calc(1vw + 1em);
  }
}
/*********************************  media resolution (1024 , 1366) for-ipa-d-pro , phone *********************************/
/*tablet*/
@media screen and (max-width: 1024px) and (min-width: 766px)   {

  /*.bg-container{*/
  /*    background-color: green	;*/
  /*}*/
  /*****************************************    height      ***************************************/
  /*.h-container {*/
  /*    height: calc(60vw + 60em);*/
  /*}*/
  .h-navbar{
    height: 3vw;

  }
  .h-slider{
    height: calc(23vw + 21em);
  }
  .h-text_slider{
    height:  calc(16vw + 17em);
  }
  .h-img-slider{
    height: 100%;
  }
  .h-item-home {
    height: calc(12vw + 11em);
  }
  .h-service {
    height: calc(18vw + 17em);
  }
  .items_home {
    width: 26%;
    border-radius: calc(0.5vw + 0.4em);
    margin-right: calc(0.6vw + 0.2em);
    margin-left: calc(0.6vw + 0.2em);
  }
  /*****************************************    bg      ***************************************/

  .img1_slider, .img2_slider, .img3_slider {
    background-size: 100% 76%;
  }
  .error-bg{
    background-image: url("../../src/img/error.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 50%;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
  }
  /*****************************************    width      ***************************************/
  .w-nav{
    width: calc(20vw + 18em);
  }
  .w-text_slider {
    width: calc(15vw + 12em);
  }
  .w-l-slider{
    width: 56%;
  }
  .w-r-slider{
    width: 44%;
  }
  .w-item-footer{
    width: calc(5vw + 5em);
  }
  /*****************************************    font-size      ***************************************/
  .fs-t-items-home{
    font-size: calc( 1vw + 0.9em);
  }
  .fs-service-text{
    font-size: calc( 0.8vw + 0.7em);
  }
  .fs-footer{
    font-size: calc(0.8vw + 0.8em);
  }
  /*****************************************    align justify      ***************************************/
  .justify-home{
    justify-content: flex-end;
  }
  /*****************************************    padding margin      ***************************************/
  .pr-nav{
    padding-right: calc(2vw + 2em);;
  }
  .p-text-home{
    padding: calc(1.5vw + 1em);
  }
  .text-align-slider{
    text-align: right;
  }
}

/*laptop md or pc*/
@media only screen and (min-width: 1025px) and (max-width: 2559px)  {

  /*.bg-container{*/
  /*    background-color: red	;*/
  /*}*/
  /*****************************************    height      ***************************************/
  /*.h-container{*/
  /*    height: 100%;*/
  /*}*/
  .h-navbar{
    height: 3vw;

  }
  .h-slider{
    height: calc(23vw + 21em);
  }
  .h-text_slider {
    height: calc(22vw + 20em);
  }
  .h-img-slider{
    height: 100%;
  }
  .h-item-home {
    height: calc(14vw + 13em);
  }
  .h-service {
    height: calc(22vw + 21em);
  }


  /*****************************************    width      ***************************************/
  .w-nav{
    width: calc(20vw + 18em);
  }
  .w-text_slider {
    width: calc(15vw + 12em);
  }
  .w-l-slider{
    width: 60%;
  }
  .w-r-slider{
    width: 40%;
  }
  .w-item-footer{
    width: calc(5vw + 5em);
  }
  /*****************************************    bg     ***************************************/
  .error-bg{
    background-image: url("../../src/img/error.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
  }




  /*****************************************    font-size      ***************************************/
  .fs-t-items-home{
    font-size: calc( 1vw + 0.9em);
  }
  .fs-service-text{
    font-size: calc( 0.8vw + 0.7em);
  }
  .fs-footer{
    font-size: calc(1vw + 1em);
  }
  /*****************************************    align justify      ***************************************/
  .justify-home{
    justify-content: flex-end;
  }

  /*****************************************    padding margin      ***************************************/
  .pr-nav{
    padding-right: calc(2vw + 2em);
  }
  .text-align-slider{
    text-align: right;
  }
  .p-text-home{
    padding: calc(2vw + 1.5em);
  }
  .pr-items-home{

  }
  .items_home{
    width: 23%;
    border-radius: calc(0.5vw + 0.4em);
    margin-right: calc(2vw + 2em);
    margin-left: calc(2vw + 2em);
  }
}
/********************************* media resolution (768 , 1024) for-i-pad *********************************/
/*mac*/
@media screen and (min-width: 2559px)  {

  /*.bg-container{*/
  /*    background-color: orange	;*/
  /*}*/
  /*****************************************    height      ***************************************/
  /*.h-container{*/
  /*    height: calc(80vw + 80em);*/
  /*}*/
  .h-navbar{
    height: 3vw;

  }
  .h-slider{
    height: calc(23vw + 21em);
  }
  .h-text_slider {
    height: calc(22vw + 22em);
  }
  .h-img-slider{
    height: 100%;
  }
  .h-item-home {
    height: calc(14vw + 13em);
  }
  .h-service {
    height: calc(26vw + 26em);
  }
  .items_home {
    width: 22%;
    border-radius: calc(0.5vw + 0.4em);
    margin-right: calc(3vw + 2em);
    margin-left: calc(3vw + 2em);
  }
  /*****************************************    bg      ***************************************/

  .img1_slider, .img2_slider, .img3_slider {
    background-size: 70% 89%;
  }
  /*****************************************    width      ***************************************/
  .w-nav{
    width: calc(20vw + 18em);
  }
  .w-text_slider {
    width: calc(15vw + 12em);
  }
  .w-l-slider {
    width: 70%;
  }
  .w-r-slider{
    width: 30%;
  }
  .w-item-footer{
    width: calc(7vw + 7em);
  }
  /*****************************************    font-size      ***************************************/
  .fs-t-items-home{
    font-size: calc( 1.5vw + 1em);
  }
  .fs-service-text{
    font-size: calc( 0.8vw + 0.7em);
  }
  .fs-footer{
    font-size: calc(1vw + 1em);
  }
  /*****************************************    bg     ***************************************/
  .error-bg{
    background-image: url("../../src/img/error.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-attachment: fixed;
    background-color: black;
    height: 100%;
  }
  /*****************************************    align justify      ***************************************/
  .justify-home{
    justify-content: flex-end;
  }
  /*****************************************    padding margin      ***************************************/
  .pr-nav{
    padding-right: calc(2vw + 2em);;
  }
  .p-text-home{
    padding: calc(2vw + 1.5em);
  }

  .text-align-slider{
    text-align: right;
  }

}
/***************************************** End media *****************************************/